html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  color: #048ca8; }

img {
  max-width: 100%;
  height: auto; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.75em; }

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin: 0; }

h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.15;
  text-transform: uppercase; }

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1; }

.title-large {
  font-size: 3rem;
  font-weight: 900; }
  .title-large span {
    font-weight: 300; }

.text-intro {
  font-size: 1.2rem; }

.btn {
  display: inline-block;
  padding: 0.75em 2.5em;
  text-transform: uppercase;
  text-decoration: none; }
  .btn:not(:last-of-type) {
    margin-bottom: 0.6em; }

.btn--primary {
  background: #d31869;
  color: white;
  border: 2px solid #d31869; }
  .btn--primary:hover, .btn--primary:focus {
    background: #8e1047;
    border: 2px solid #8e1047; }

.btn--secondary {
  border: 2px solid white;
  color: white; }
  .btn--secondary:hover, .btn--secondary:focus {
    background: white;
    color: #d31869; }

.grid {
  display: flex; }

.main-header {
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  display: flex; }

.logo {
  width: 25%;
  min-width: 10rem;
  max-width: 15rem; }

.main-nav {
  display: none; }

.hero {
  background: linear-gradient(to right, #048ca8, #16db93);
  color: white;
  padding-top: 8em;
  padding-bottom: 8em;
  text-align: center; }

.hero-img {
  display: none; }
