.grid {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 100%;

  &--full {
    flex: 0 0 100%;
  }
}

@media only screen and (min-width: 725px) {
  .col--1-3 {
    flex-basis: 33.33%;
  }
  .col--2-3 {
    flex-basis: 66.6666%;
  }

  .col--1-2 {
    flex-basis: 50%;
  }
}
