.sales-points {
  padding: 10vh 0 0;
}

.sales-point {
  &:not(:last-child) {
    margin-bottom: 3.5em;
  }

  &:first-of-type {
    margin-top: 1.5em;
  }
  @media only screen and (min-width: 725px) {
    &:first-of-type {
      margin-top: 0;
    }
  }
}
